/* General page styles */

header {
    font-family: "Jomolhari", serif;
  }
  
  body {
    background-color: #070709;
  }
  
  h1 {
    font-family: "Jomolhari", serif;
    background-color: #63c34e;
    color: #ffffff;
    padding: 16px;
    margin-bottom: 5px;
  }

  h2{
    color: #ffffff;
  }
  
  #blogName {
    color: #ffffff;
  }

  label {
    color: white;
    
  }
  
  main {
    font-family: "Jomolhari", serif;
    margin-top: -5px;
    background-color: #070709;
  }
  
  .homepage-main {
    margin-top: 34px;
  }
  
  .user-name {
    background-color: #84a59d;
  }
  
  .blogPost-main {
    margin-top: 34px;
  }
  
  /* Nav styles */
  
  .navBar {
    background-color: #26391e;
  }
  
 
  #logout-btn {
      display: inline-block;
      text-decoration: none;
      color: #63c34e;
      font-size: 16px;
      font-family: "ITC Avant Garde Std Normal",sans-serif;
      line-height: 1.5;
      padding: 10px;
      text-transform: uppercase;
      background-color: none;
  }

  nav a {
  
      display: inline-block;
      text-decoration: none;
      color: #9ca1a5;
      font-size: 16px;
      font-family: "ITC Avant Garde Std Normal",sans-serif;
      line-height: 1.5;
      padding: 10px;
      text-transform: uppercase;
  }

  nav a:hover{
    color:white;
  }
  
  /* Input/textarea styles */
  
  #titleInput,
  #bodyInput,
  #comment,
  #email-login,
  #password-login,
  #name-signup,
  #email-signup,
  #password-signup {
    background-color: #e5eaf5;
  }
  
  /* Button styles */
  
  .btn {
    background-color: #63c34e;
  }
  
  /* Card styles */

  .card a {
    text-decoration: none;
    color: #696969;
    font-size: 1.2em;
    font-family: "ITC Avant Garde Std Normal",sans-serif;
  }
  
  .card-header {
    background-color: #C0C0C0;
    color: #63c34e;
  }
  
  .card-body {
    background-color: #DCDCDC;
    color: #9ca1a5;
  }
  
  .card {
    background-color: #C0C0C0;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease;
  }